# vim: set ft=conf:
# vim: set noexpandtab:

[include]
	path = ~/.config/git/themes.gitconfig
	path = ~/.config/git/personal.gitconfig
[credential]
{{ if eq .chezmoi.os "linux" -}}
{{   if (.chezmoi.kernel.osrelease | lower | contains "microsoft") -}}
	helper = "/mnt/c/bin/git-credential-manager"
{{   end -}}
{{ else -}}
	provider = generic
{{ end -}}
{{ if eq .chezmoi.os "windows" -}}
[safe]
	directory = *
{{ end -}}
[core]
	editor = nvim
	autocrlf = false
	pager = delta --features=git
	filemode = false
[interactive]
	diffFilter = delta --color-only
[delta "git"]
	features = chameleon
	navigate = true
	light = false
	side-by-side = true
	line-numbers = true
[delta "fzf_git_log"]
	features = chameleon
	navigate = true
	light = false
	side-by-side = false
	line-numbers = true
[user]
	useConfigOnly = true
[alias]
	reword = commit --amend --edit
	append = commit --amend --no-edit
	pretty-log = log --graph --abbrev-commit --decorate --date=format-local:'%Y/%m/%d %H:%M' --format=format:'%C(bold blue)%h%C(reset) - %C(bold cyan)%cd%C(reset) %C(bold green)(%ar)%C(reset)%C(bold yellow)%d%C(reset)%n''          %C(reset)%s%C(reset) %C(dim white)- %an (%h)%C(reset)'
	# https://zenn.dev/kawarimidoll/articles/94fe6d900ed4d6
	remote-head = symbolic-ref refs/remotes/origin/HEAD
	checkout-remote-head = !git fetch && git switch -d $(git remote-head)
	new-branch = "!f() { git fetch && git switch --no-track --create \"$(git config user.name)/${1:-\"wip-$(date +%s)\"}\" $(git remote-head); }; f"
	delete-gone-branches = "!git branch -vv | grep ': gone]' | awk '{print $1}' | xargs git branch -D"
	list-branches = "!git branch --sort=-committerdate --format='%(HEAD) %(if)%(HEAD)%(then)%(color:green)%(else)%(color:default)%(end)%(refname:short)%(color:reset)|[%(color:blue)%(upstream:short)%(color:default)%(if)%(upstream:track)%(then): %(upstream:track,nobracket)%(end)]' --color=always | column -ts'|'"
[init]
	defaultBranch = main
[submodule]
	recurse = true
[fetch]
	all = true
	prune = true
	recurseSubmodules = on-demand
[push]
	default = current
	autoSetupRemote = true
	recurseSubmodules = no
[pull]
	rebase = false
[commit]
	verbose = true
[gpg]
	format = ssh
[merge]
	tool = diffview.nvim
[mergetool "code"]
	cmd = code --wait --merge $REMOTE $LOCAL $BASE $MERGED
[mergetool "nvim"]
	cmd = "nvim -d -c \"3wincmd w | wincmd J\" \"$LOCAL\" \"$REMOTE\" \"$MERGED\""
[mergetool "diffview.nvim"]
	cmd = "nvim -c 'DiffviewOpen'"
[mergetool]
	prompt = false
[advice]
	detachedHead = false
	skippedCherryPicks = false
[color]
	status = always
	diff = always
[filter "lfs"]
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge --skip -- %f
	process = git-lfs filter-process --skip
	required = true
[url "git@github.com:"]
	pushinsteadof = "git://github.com/"
	pushinsteadof = "https://github.com/"
[ghq]
	root = ~/src
	user = r-okm
{{ range .work_git_repo_hosts -}}
[includeIf "hasconfig:remote.*.url:https://{{ . }}/**"]
	path = ~/.config/git/work.gitconfig
[http "https://{{ . }}"]
	sslVerify = false
{{ end -}}
{{ range .work_github_orgs -}}
[includeIf "hasconfig:remote.*.url:git@github.com:{{ . }}/**"]
	path = ~/.config/git/work.gitconfig
[includeIf "hasconfig:remote.*.url:ssh://git@github.com/{{ . }}/**"]
	path = ~/.config/git/work.gitconfig
[includeIf "hasconfig:remote.*.url:https://github.com/{{ . }}/**"]
	path = ~/.config/git/work.gitconfig
{{ end -}}
