# vim: set ft=conf:
# vim: set noexpandtab:

[user]
	name = {{ .git_user_name_work }}
	email = {{ .git_user_email_work }}
[commit]
	gpgsign = false
[url "work.github.com:"]
	insteadOf = git@github.com:
	pushInsteadOf = git@github.com:
