# vim: set ft=conf:
# vim: set noexpandtab:

[core]
	sshCommand = ssh -i {{ .chezmoi.homeDir }}/.ssh/keypair/git/id_gh_work
[user]
	name = {{ .work.git_user_name }}
	email = {{ .work.git_user_email }}
[commit]
	gpgsign = false
