[core]
  editor = nvim
  autocrlf = false
[user]
  useConfigOnly = true
  name = {{ .git_user_name }}
  email = {{ .git_user_email }}
[alias]
  lg = log --graph --abbrev-commit --decorate --format=format:'%C(bold blue)%h%C(reset) - %C(bold cyan)%aD%C(reset) %C(bold green)(%ar)%C(reset)%C(bold yellow)%d%C(reset)%n''          %C(white)%s%C(reset) %C(dim white)- %an%C(reset)'
  lga = log --graph --abbrev-commit --decorate --format=format:'%C(bold blue)%h%C(reset) - %C(bold cyan)%aD%C(reset) %C(bold green)(%ar)%C(reset)%C(bold yellow)%d%C(reset)%n''          %C(white)%s%C(reset) %C(dim white)- %an%C(reset)' --all
[init]
  defaultBranch = main
[fetch]
  prune = true
[pull]
  rebase = false
[commit]
  verbose = true
[diff]
  tool = nvim
[difftool "nvim"]
  path = nvim
[difftool]
  prompt = false
[merge]
  tool = code
[mergetool "code"]
  cmd = code --wait --merge $REMOTE $LOCAL $BASE $MERGED
[mergetool]
  prompt = false
[advice]
  detachedHead = false
