[credential]
{{ if eq .chezmoi.os "linux" }}
  {{ if (.chezmoi.kernel.osrelease | lower | contains "microsoft") }}
  helper = "/mnt/c/scoop/apps/git/current/mingw64/bin/git-credential-manager.exe"
  {{ end }}
{{ else }}
  provider = generic
{{ end }}
[core]
  editor = nvim
  autocrlf = false
[user]
  useConfigOnly = true
  name = {{ .git_user_name }}
  email = {{ .git_user_email }}
[alias]
  s = switch
  f = fetch
  us = push
  usu = push -u origin HEAD
  ul = pull
  st = status
  sh = show
  ss = stash
  a = add
  c = commit
  b = branch
  d = diff
  lg = log --graph --abbrev-commit --decorate --format=format:'%C(bold blue)%h%C(reset) - %C(bold cyan)%aD%C(reset) %C(bold green)(%ar)%C(reset)%C(bold yellow)%d%C(reset)%n''          %C(white)%s%C(reset) %C(dim white)- %an%C(reset)'
  lga = log --graph --abbrev-commit --decorate --format=format:'%C(bold blue)%h%C(reset) - %C(bold cyan)%aD%C(reset) %C(bold green)(%ar)%C(reset)%C(bold yellow)%d%C(reset)%n''          %C(white)%s%C(reset) %C(dim white)- %an%C(reset)' --all
[init]
  defaultBranch = main
[fetch]
  prune = true
[pull]
  rebase = false
[commit]
  verbose = true
[diff]
  tool = nvim
[difftool "nvim"]
  path = nvim
[difftool]
  prompt = false
[merge]
  tool = code
[mergetool "code"]
  cmd = code --wait --merge $REMOTE $LOCAL $BASE $MERGED
[mergetool]
  prompt = false
[advice]
  detachedHead = false
[color]
  status = always
  diff = always
