[include]
  path = ~/.config/git/themes.gitconfig
[credential]
{{ if eq .chezmoi.os "linux" }}
{{   if (.chezmoi.kernel.osrelease | lower | contains "microsoft") }}
  helper = "/mnt/c/scoop/apps/git/current/mingw64/bin/git-credential-manager.exe"
{{   end }}
{{ else }}
  provider = generic
{{ end }}
[core]
  editor = nvim
  autocrlf = false
  pager = delta
[interactive]
  diffFilter = delta --color-only
[delta]
  features = chameleon
  navigate = true
  light = false
  side-by-side = true
  line-numbers = true
[user]
  useConfigOnly = true
  name = {{ .git_user_name }}
  email = {{ .git_user_email }}
[alias]
  s = switch
  f = fetch
  us = push
  ul = pull
  st = status
  sh = show
  ss = stash
  m = merge
  mt = mergetool
  a = add
  c = commit
  b = branch
  d = diff
  lga = log --graph --abbrev-commit --decorate --date=format-local:'%Y/%m/%d %H:%M:%S' --format=format:'%C(bold blue)%h%C(reset) - %C(bold cyan)%ad%C(reset) %C(bold green)(%ar)%C(reset)%C(bold yellow)%d%C(reset)%n''          %C(white)%s%C(reset) %C(dim white)- %an%C(reset)'
  lg = log --graph --abbrev-commit --decorate --date=format-local:'%Y/%m/%d %H:%M:%S' --format=format:'%C(bold blue)%h%C(reset) - %C(bold cyan)%ad%C(reset) %C(bold green)(%ar)%C(reset)%C(bold yellow)%d%C(reset)%n''          %C(white)%s%C(reset) %C(dim white)- %an%C(reset)' --all
[init]
  defaultBranch = main
[fetch]
  prune = true
[push]
  default = current
[pull]
  rebase = false
[commit]
  verbose = true
[merge]
  tool = nvim
[mergetool "code"]
  cmd = code --wait --merge $REMOTE $LOCAL $BASE $MERGED
[mergetool "nvim"]
  cmd = "nvim -d -c \"4wincmd w | wincmd J\" \"$LOCAL\" \"$BASE\" \"$REMOTE\" \"$MERGED\""
[mergetool]
  prompt = false
[advice]
  detachedHead = false
[color]
  status = always
  diff = always
{{ if eq .chezmoi.os "windows" }}
[safe]
  directory = *
{{ end }}
