export XDG_DATA_HOME="$HOME/.local/share"

# set PATH so it includes user's private bin if it exists
if [ -d "$HOME/bin" ] ; then
  PATH="$HOME/bin:$PATH"
fi

# set PATH so it includes user's private bin if it exists
if [ -d "$HOME/.local/bin" ] ; then
  PATH="$HOME/.local/bin:$PATH"
fi

# Set PATH, MANPATH, etc., for Homebrew.
if [ -e "/home/linuxbrew/.linuxbrew/bin/brew" ]; then
  eval "$(/home/linuxbrew/.linuxbrew/bin/brew shellenv)"
  export HOMEBREW_BUNDLE_FILE=$XDG_CONFIG_HOME/brew-bundle/.Brewfile
fi

# openssl v3 を優先させる
if [ -d "$HOMEBREW_PREFIX/opt/openssl@3/bin" ]; then
  export PATH="$HOMEBREW_PREFIX/opt/openssl@3/bin:$PATH"
fi

# powered_cd
export POWERED_CD_LOG_FILE="$XDG_DATA_HOME/zsh/powered_cd.log"
export POWERED_CD_LOG_COUNT=30

# prettierd
export PRETTIERD_DEFAULT_CONFIG="$XDG_CONFIG_HOME/nvim/external/.prettierrc.json"

# pnpm
export PNPM_HOME="$XDG_DATA_HOME/pnpm"
export PATH="$PNPM_HOME:$PATH"

# openai
export OPENAI_API_KEY='{{ .openai_api_key }}'

# wsl
if [ -v WSL_DISTRO_NAME ]; then
  export PATH="$PATH:/mnt/c/Program Files/Microsoft VS Code/bin"
fi
