source $ZDOTDIR/functions.zsh

# bindkey
bindkey -e
bindkey "^[[3~" delete-char
bindkey "^[[H" beginning-of-line
bindkey "^[[F" end-of-line

zle -N fzf-command-history
bindkey '^r' fzf-command-history

# setopt
setopt nobeep
setopt nolistbeep
setopt correct
setopt auto_cd

cdpath=(
  {{ index . "project_dir" | default "" }}
  $cdpath
)

# Completion
fpath=(
  $ZDOTDIR/completions
  $fpath
)
autoload -Uz compinit && compinit
# ignore case
zstyle ':completion:*' matcher-list 'm:{a-z}={A-Z}'
zstyle ':completion:*' menu select

# Alias
if [ -x /usr/bin/dircolors ]; then
  test -r ~/.dircolors && eval "$(dircolors -b ~/.dircolors)" || eval "$(dircolors -b)"
  alias ls='ls --color=auto'
  alias dir='dir --color=auto'
  alias vdir='vdir --color=auto'
  alias grep='grep --color=auto'
  alias fgrep='fgrep --color=auto'
  alias egrep='egrep --color=auto'
fi

alias cp='cp -i'
alias mv='mv -i'
alias rm='rm -I'

{{ if eq .chezmoi.os "linux" }}
{{   if (.chezmoi.kernel.osrelease | lower | contains "microsoft") }}
# custom-git
alias git="custom-git"
compdef custom-git=git
# custom-code
alias code='custom-code'
compdef custom-code=code
{{   end }}
{{ end }}

# Application specific settings
# Homebrew
if type "brew" > /dev/null 2>&1; then
  fpath=(
    $HOMEBREW_PREFIX/share/zsh/site-functions
    $fpath
  )
fi
# asdf
if [ -e "$HOMEBREW_PREFIX/opt/asdf/libexec/asdf.sh" ]; then
  source $HOMEBREW_PREFIX/opt/asdf/libexec/asdf.sh
  fpath=(
    $(brew --prefix asdf)/etc/bash_completion.d
    $fpath
  )
fi

if [ -e "$HOME/.asdf/plugins/java/set-java-home.zsh" ]; then
  . $HOME/.asdf/plugins/java/set-java-home.zsh
fi

# ========================== zsh-hooks ==========================
precmd() {
  # 前回のコマンドの終了コードを記録
  export PREVIOUS_EXIT_CODE=$?

  # Promptの更新
  PROMPT=`prompt-format`
}

# ========================== source ==========================
# sheldon
if type "sheldon" > /dev/null 2>&1; then
  eval "$(sheldon source)"
fi
