# vim: set ft=zsh:

prompt_format() {
  local branch=$(git --no-optional-locks symbolic-ref --short HEAD 2>/dev/null) && \
    local commit=$(git rev-parse --short HEAD 2>/dev/null)
  local git=''
  if [ -n "${branch}" ]; then
    git="($branch) "
  elif [ -n "${commit}" ]; then
    git="($commit) "
  fi

  PROMPT="
%F{yellow}%3/%f ${git}%# "
}

windows_terminal_osc_9_9() {
  # Inform Terminal about shell current working directory
  # see: https://github.com/microsoft/terminal/issues/8166
  {{ if eq .chezmoi.os "linux" }}
  {{   if (.chezmoi.kernel.osrelease | lower | contains "microsoft") }}
    printf '\e]9;9;%s\e\' "$(wslpath -w "$(pwd)")"
  {{   end}}
  {{ else if eq .chezmoi.os "windows" }}
    printf '\e]9;9;%s\e\' "$(cygpath --windows "$(pwd)")"
  {{ end }}
}

windows_terminal_tab_title() {
  local current_dir=$(basename $PWD)
  echo -ne '\033]0;'"[$WSL_DISTRO_NAME] $current_dir"'\a'
}

autoload -Uz add-zsh-hook
# add-zsh-hook precmd prompt_format
add-zsh-hook precmd windows_terminal_osc_9_9
add-zsh-hook precmd windows_terminal_tab_title

PROMPT="
%F{yellow}%~%f %# "
