[merge]
command = "nvim"
args = [
  "-d",
  "{{ "{{" }} .Destination {{ "}}" }}",
  "{{ "{{" }} .Source {{ "}}" }}"
]
[diff]
pager = "delta --features=git"
exclude = ["scripts"]
[data]
git_user_name_work = ""
git_user_email_work = ""
git_repository_host_work = ""
cdpath = ""
github_copilot_enabled = 0
