{{ if ne .chezmoi.os "windows" -}}
[merge]
command = "nvim"
args = ["-d", "{{ "{{" }} .Destination {{ "}}" }}", "{{ "{{" }} .Source {{ "}}" }}"]
[diff]
pager = "delta --features=git"
exclude = ["scripts"]
{{ end -}}
[data.work]
git_user_name = ""
git_user_email = ""
git_repo_hosts = []
github_orgs = []
