[merge]
command = "nvim"
args = [
  "-d",
  "{{ "{{" }} .Destination {{ "}}" }}",
  "{{ "{{" }} .Source {{ "}}" }}"
]
[diff]
pager = "delta --features=git"
[data]
git_user_name = ""
git_user_email = ""
git_repository_host_work = ""
openai_api_key = ""
project_dir = ""
wsl_windows_username = ""
