[".config/git/themes.gitconfig"]
  type = "file"
  url = "https://raw.githubusercontent.com/dandavison/delta/main/themes.gitconfig"
  refreshPeriod = "168h"

{{ if ne .chezmoi.os "windows" -}}
[".config/zsh/plugins/manual/zsh-defer"]
  type = "archive"
  url = "https://github.com/romkatv/zsh-defer/archive/master.tar.gz"
  exact = true
  stripComponents = 1
  refreshPeriod = "168h"

[".config/zsh/plugins/autoload/zsh-abbr"]
  type = "git-repo"
  url = "https://github.com/olets/zsh-abbr.git"
  refreshPeriod = "168h"
  [".config/zsh/plugins/autoload/zsh-abbr".clone]
    args = ["--recurse-submodules", "--single-branch", "--branch", "main", "--depth", "1"]
  [".config/zsh/plugins/autoload/zsh-abbr".pull]
    args = ["--recurse-submodules"]

[".config/zsh/plugins/autoload/zsh-completions"]
  type = "archive"
  url = "https://github.com/zsh-users/zsh-completions/archive/master.tar.gz"
  exact = true
  stripComponents = 1
  refreshPeriod = "168h"

[".config/zsh/plugins/autoload/autosuggestions"]
  type = "archive"
  url = "https://github.com/zsh-users/zsh-autosuggestions/archive/master.tar.gz"
  exact = true
  stripComponents = 1
  refreshPeriod = "168h"

[".config/zsh/plugins/autoload/fast-syntax-highlighting"]
  type = "archive"
  url = "https://github.com/zdharma-continuum/fast-syntax-highlighting/archive/master.tar.gz"
  exact = true
  stripComponents = 1
  refreshPeriod = "168h"

[".config/zsh/defer/aws_zsh_completer.sh"]
  type = "file"
  url = "https://raw.githubusercontent.com/aws/aws-cli/v2/bin/aws_zsh_completer.sh"
  refreshPeriod = "168h"

[".config/zsh/completions/_docker.zsh"]
  type = "file"
  url = "https://raw.githubusercontent.com/docker/cli/master/contrib/completion/zsh/_docker"
  refreshPeriod = "168h"

[".config/zsh/completions/_git.zsh"]
  type = "file"
  url = "https://raw.githubusercontent.com/git/git/master/contrib/completion/git-completion.zsh"
  refreshPeriod = "168h"
{{ end -}}
