# vim: set ft=sh:

export XDG_CONFIG_HOME="$HOME/.config"
export XDG_DATA_HOME="$HOME/.local/share"
export ZDOTDIR="$XDG_CONFIG_HOME/zsh"

# set PATH so it includes user's private bin if it exists
if [ -d "$HOME/bin" ] ; then
  PATH="$HOME/bin:$PATH"
fi

# set PATH so it includes user's private bin if it exists
if [ -d "$HOME/.local/bin" ] ; then
  PATH="$HOME/.local/bin:$PATH"
fi

# Set PATH, MANPATH, etc., for Homebrew.
if [ -e "/home/linuxbrew/.linuxbrew/bin/brew" ]; then
  eval "$(/home/linuxbrew/.linuxbrew/bin/brew shellenv)"
  export HOMEBREW_BUNDLE_FILE=$XDG_CONFIG_HOME/homebrew/.Brewfile
fi

# asdf
export ASDF_CONFIG_FILE="$XDG_CONFIG_HOME/asdf/.asdfrc"

# pnpm
export PNPM_HOME="$XDG_DATA_HOME/pnpm"
PATH="$PNPM_HOME:$PATH"

# go
export GOPATH="$HOME/go"
export GOBIN="$GOPATH/bin"
export PATH="$GOBIN:$PATH"

export LC_ALL=ja_JP.UTF-8
export CLICOLOR=1
export EDITOR=nvim
export MANPAGER='nvim +Man!'
export FZF_DEFAULT_OPTS='--bind ctrl-v:toggle-preview,ctrl-f:half-page-down,ctrl-b:half-page-up,ctrl-d:preview-half-page-down,ctrl-u:preview-half-page-up'
export NEOVIM_SESSION_FILE_NAME='{{ index . "neovim_session_file_name" | default "" }}'

export YANK_COMMAND
export PASTE_COMMAND
{{ if eq .chezmoi.os "linux" }}
{{   if (.chezmoi.kernel.osrelease | lower | contains "microsoft") }}
# wsl
YANK_COMMAND='win32yank.exe -i --crlf'
PASTE_COMMAND='win32yank.exe -o --lf'
{{   end }}
{{ else if eq .chezmoi.os "windows" }}
YANK_COMMAND='clip.exe'
PASTE_COMMAND='win32yank.exe -o --lf'
{{ end }}
