# vim: set ft=sh:

# ~/.profile: executed by the command interpreter for login shells.
# This file is not read by bash(1), if ~/.bash_profile or ~/.bash_login
# exists.
# see /usr/share/doc/bash/examples/startup-files for examples.
# the files are located in the bash-doc package.

# the default umask is set in /etc/profile; for setting the umask
# for ssh logins, install and configure the libpam-umask package.
#umask 022

source_if_exists() {
  local file_to_source="$1"
  if [ -f "$file_to_source" ]; then
    # shellcheck disable=SC1090
    . "$file_to_source"
  else
    local current_script_file
    current_script_file=$(basename "$0")
    echo "[WARN][$current_script_file] File '$file_to_source' does not exist."
  fi
}

main() {
  export XDG_CONFIG_HOME="$HOME/.config"
  export XDG_CACHE_HOME="$HOME/.cache"
  export XDG_DATA_HOME="$HOME/.local/share"
  export XDG_STATE_HOME="$HOME/.local/state"

  export LANG=C.UTF-8
  export CLICOLOR=1
  export EDITOR='nvim'
  export EDITOR_EDIT_COMMAND_LINE="nvim -u '$XDG_CONFIG_HOME/nvim/edit_command_line.lua'"
  export GIT_EDITOR="nvim -u '$XDG_CONFIG_HOME/nvim/git_editor.lua'"
  export MANPAGER="sh -c 'col -bx | bat -l man -p'"
  export FZF_DEFAULT_OPTS='--bind ctrl-v:toggle-preview,ctrl-f:half-page-down,ctrl-b:half-page-up,ctrl-d:preview-half-page-down,ctrl-u:preview-half-page-up'
  export BROWSER='vivaldi'
  export SSH_AUTH_SOCK=$HOME/.ssh/agent.sock

  # asdf
  export ASDF_DATA_DIR="$XDG_DATA_HOME/asdf"
  export ASDF_CONFIG_FILE="$XDG_CONFIG_HOME/asdf/.asdfrc"

  # deno
  export DENO_INSTALL="$HOME/.deno"

  # rust
  source_if_exists "$HOME/.cargo/env"

  # delta
  export DELTA_FEATURES='default'

  # claude
  export CLAUDE_CODE_DISABLE_FEEDBACK_SURVEY=1
  export CLAUDE_CONFIG_DIR="$XDG_CONFIG_HOME/claude"

  # env vars managed with chezmoi
  export WORK_GITHUB_ORG_ACTIVE='{{ if gt (len .work.github_orgs) 0 }}1{{ else }}0{{ end }}'

  # prepend bin directories to PATH
  local bin_dirs=(
    "$HOME/.local/share/nvim/mason/bin" # mason managed tools
    "${GOROOT:-/usr/local/go}/bin" # go bin
    "${GOPATH:-$HOME/go}/bin" # go workspace bin
    "$DENO_INSTALL/bin" # deno bin
    "$ASDF_DATA_DIR/shims" # asdf shims
    "$HOME/neovim/bin" # neovim bin built from source
    "$HOME/.local/bin" # user specific bin
    '/mnt/c/bin' # Windows bin for WSL2
  )
  local dir
  for dir in "${bin_dirs[@]}"; do
    if [ -d "$dir" ]; then
      export PATH="$dir:$PATH"
    fi
  done
}

main
